button {
    margin: 10px;
    background-color: gray;
    border: none;
    color: aquamarine;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Gloria Hallelujah', cursive;
}

#gifs-go-here {
    display: flex;
    flex-wrap: wrap;
}

img {
    margin: 35px;
}

body {
    background: url(../images/memphis-mini-dark.png)
}

h1 {
    font-family: 'Gloria Hallelujah', cursive;
    background: aquamarine;
    text-align: center;
    width: 100%;
    font-size:50px;
}

p {
    padding-left: 130px;
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
}

div {
}

#add-character {
    background-color:gray;
    border: none;
    color: aquamarine;
    padding: 10px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Gloria Hallelujah', cursive;
}

#character-form {
    width: 200px;
    margin: 10px;
    padding: 10px;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    color: Black;
    background: white;
    align-content: center;
    text-align: center;
}

input {
    margin: 5px;
}